* {
    margin: 0 auto;
}

body {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    background:url('../images/waves.png') repeat, linear-gradient(to bottom, pink, red);
    /* Fallback for older browsers */
    background-color: pink;
    color: #FFF;
}

a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: red;
}

h1 {
    font-family: "Oi", serif;
    font-weight: normal;
    text-align: center;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 55px;
}

h2 {
    font-family: "Oi", serif;
    font-weight: normal;
    margin-bottom: 10px;
    font-size: 35px;
    color: darkred;
    padding: 10px 0 0 20px;
}

header {
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    max-width: 900px;
    background-color: rgba(0, 98, 65, 0.8);
    border-radius: 0 0 25px 25px;
}

header p {
    width: 800px;
}

nav {
    margin-bottom: 20px;
    text-align: right;
    /* background-color: #00000070; */
    width: 900px;
}
nav li {
    list-style: none;
    display: inline;
    padding-right: 30px;
}
nav li::after {
    content: " | ";
    color:#FFF;
    padding-left: 15px;
    position: absolute;
}
nav li:last-child::after {
    content: none;
}

p {
    line-height: 1.5;
    margin-bottom: 30px;
    width: 700px;
}

main {
    max-width: 900px;
}

figure img {
    align-items: center;
    display: flex;
    justify-content: center;
}
figure figcaption {
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-style: italic;
}

#content {
    padding: 20px;
    background-color: rgba(235, 243, 235, 0.45);
    border-radius: 25px;
    margin-bottom: 100px;
    max-width: 900px;
    color: #000;
}

ul {
    margin-bottom: 20px;
}

footer {
    background: #006241;
    color: #FFF;
    margin-top: 20px;
    height: 400px;
    border-top: 15px solid #00000070;
}
footer p {
    padding: 60px 20px 60px 20px;
    font-size: 18px;
    max-width: 700px;
    text-align: center;
}
footer a {
    color: pink;
}

footer span#copyright {
    font-size: 14px;
    text-align: left;
    width: 900px;
    display: block;
}
